spring:
  application:
    name: tikra-backend
  datasource:
    url: jdbc:mysql://localhost:3306/tikra?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
server:
  port: 8080
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.asus.tikra.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
